<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Axon</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>

        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav-bar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/statistics-table.css') }}">
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    </head>
<body>
    <div class="grid-spacer">
        <div class="nav-bar nav-span" >
            <span id="icon-span" class="fa-stack fa-1x">
                <i class="nav-icon-180 fab fa-w fa-rotate-180 fa-stack-2x"></i>
                <i class="nav-icon fab fa-w fa-stack-2x"></i>
            </span>
            <img id="trackImage" src="" style="display: none;"/>
            <canvas id="canvas" style="display: none;"></canvas>
        </div>
        <div class="nav-bar" style="grid-column: span 2; display: flex; justify-content: space-between;">
            <nav>
                <ul>
                    <li class="dropdown">
                        <a href="{{ url_for('home') }}" class="dropbtn">Spotify</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('home') }}">Overview</a>
                            <a href="{{ url_for('hist_bp.history') }}">History</a>
                            <a href="{{ url_for('over_bp.statistics') }}">Statistics</a>
                            <a href="{{ url_for('auth_bp.authenticate') }}">Authenticate</a>
                        </div>
                    </li>
                    <li><a href="{{ url_for('strava_bp.strava') }}">Strava</a></li>
                </ul>
            </nav><div class="spotify-embed"></div>
        </div>
        <div class="grid-container statistic">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'AllSongs')">All Songs</button>
                <button class="tablinks" onclick="openTab(event, 'ActivitySquares')">Activity Squares</button>
            </div>
            <div id="AllSongs" class="tabcontent">
                <table id="statisticsTable" class="display">
                    <thead>
                        <tr>
                            <th class="song-text">Artist</th>
                            <th class="song-text">Title</th>
                            <th class="song-text">Whistles</th>
                            <th class="song-text">Active plays</th>
                            <th class="song-text">Total plays</th>
                            <th class="song-text">Score1</th>
                            <th class="song-text">Score2</th>
                            <th class="song-text">Score3</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in data %}
                        <tr>
                            <td class="song-text">{{ item.artist }}</td>
                            <td class="song-text">{{ item.title }}</td>
                            <td class="song-text">{{ item.whistle }}</td>
                            <td class="song-text">{{ item.active }}</td>
                            <td class="song-text">{{ item.total }}</td>
                            <td class="song-text">
                                <div class="progress-bar {% if item.score1 >= 0.75 %}bg-success{% elif item.score1 >= 0.5 %}bg-warning{% else %}bg-danger{% endif %}" 
                                    role="progressbar" 
                                    style="width: {{ item.score1 * 100 }}%;" 
                                    aria-valuenow="{{ item.score1 * 100 }}" 
                                    aria-valuemin="0" 
                                    aria-valuemax="1">
                                   {{ (item.score1) | round(3) }}
                               </div>
                            </td>
                            <td class="song-text">
                                <div class="progress-bar {% if item.score2 >= 0.75 %}bg-success{% elif item.score2 >= 0.5 %}bg-warning{% else %}bg-danger{% endif %}" 
                                    role="progressbar" 
                                    style="width: {{ item.score2 * 100 }}%;" 
                                    aria-valuenow="{{ item.score2 * 100 }}" 
                                    aria-valuemin="0" 
                                    aria-valuemax="1">
                                   {{ (item.score2) | round(3) }}
                               </div>
                            </td>
                            <td class="song-text">
                                <div class="progress-bar {% if item.score3 >= 0.75 %}bg-success{% elif item.score3 >= 0.5 %}bg-warning{% else %}bg-danger{% endif %}" 
                                    role="progressbar" 
                                    style="width: {{ item.score3 * 100 }}%;" 
                                    aria-valuenow="{{ item.score3 * 100 }}" 
                                    aria-valuemin="0" 
                                    aria-valuemax="1">
                                   {{ (item.score3) | round(3) }}
                               </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="2" class="song-text">Totals</th>
                            <th id="totalWhistle" class="song-text">0 (Page: 0)</th>
                            <th id="totalActive" class="song-text">0 (Page: 0)</th>
                            <th id="totalTotal" class="song-text">0 (Page: 0)</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div id="ActivitySquares" class="tabcontent">
                <div class="flex-center">
                    <div class="activity-container">
                        <!-- Squares will go here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/fetch-song.js') }}"></script>
    <script src="{{ url_for('static', filename='js/statistics-page.js') }}"></script>
    <script src="{{ url_for('static', filename='js/statistics-table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/statistics-activity.js') }}"></script>
</body>
</html>
