<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Axon</title>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.0/color-thief.umd.js"></script>

        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/nav-bar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/statistics-table.css') }}">
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
        <script>
            $(document).ready(function() {
                $('#statisticsTable').DataTable({
                    paging: true,
                    searching: true,
                    order: [[5, 'desc']],
                    drawCallback: function() {
                        var api = this.api();

                        // Function to sum column data
                        var intVal = function(i) {
                            return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '')*1 :
                                typeof i === 'number' ?
                                i : 0;
                        };

                        // Total of 'whistle' column (3rd column in the table)
                        var totalWhistle = api
                            .column(2)
                            .data()
                            .reduce(function(a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        // Total of 'active' column (4th column in the table)
                        var totalActive = api
                            .column(3)
                            .data()
                            .reduce(function(a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        // Total of 'total' column (5th column in the table)
                        var totalTotal = api
                            .column(4)
                            .data()
                            .reduce(function(a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        // Page total of 'whistle' column (3rd column in the table)
                        var pageTotalWhistle = api
                            .column(2, { page: 'current' })
                            .data()
                            .reduce(function(a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        // Page total of 'active' column (4th column in the table)
                        var pageTotalActive = api
                            .column(3, { page: 'current' })
                            .data()
                            .reduce(function(a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        // Page total of 'total' column (5th column in the table)
                        var pageTotalTotal = api
                            .column(4, { page: 'current' })
                            .data()
                            .reduce(function(a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                        // Update footer with totals and page totals
                        $('#totalWhistle').html(totalWhistle + ' (' + pageTotalWhistle + ')');
                        $('#totalActive').html(totalActive + ' (' + pageTotalActive + ')');
                        $('#totalTotal').html(totalTotal + ' (' + pageTotalTotal + ')');
                    }
                });
            });
        </script>
    </head>
<body>
    <div class="grid-spacer">
        <div class="nav-bar nav-span" >
            <span id="icon-span" class="fa-stack fa-1x">
                <i class="nav-icon-180 fab fa-w fa-rotate-180 fa-stack-2x"></i>
                <i class="nav-icon fab fa-w fa-stack-2x"></i>
            </span>
            <img id="trackImage" src="" style="display: none;"/>
            <canvas id="canvas" style="display: none;"></canvas>
        </div>
        <div class="nav-bar" style="grid-column: span 2; display: flex; justify-content: space-between;">
            <nav>
                <ul>
                    <li class="dropdown">
                        <a href="{{ url_for('home') }}" class="dropbtn">Spotify</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('home') }}">Overview</a>
                            <a href="{{ url_for('hist_bp.history') }}">History</a>
                            <a href="{{ url_for('over_bp.statistics') }}">Statistics</a>
                            <a href="{{ url_for('auth_bp.authenticate') }}">Authenticate</a>
                        </div>
                    </li>
                    <li><a href="#">WIP</a></li>
                </ul>
            </nav><div class="spotify-embed"></div>
        </div>
        <div class="grid-container statistic">
            <table id="statisticsTable" class="display">
                <thead>
                    <tr>
                        <th class="song-text">Artist</th>
                        <th class="song-text">Title</th>
                        <th class="song-text">Whistles</th>
                        <th class="song-text">Active plays</th>
                        <th class="song-text">Total plays</th>
                        <th class="song-text">Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td class="song-text">{{ item.artist }}</td>
                        <td class="song-text">{{ item.title }}</td>
                        <td class="song-text">{{ item.whistle }}</td>
                        <td class="song-text">{{ item.active }}</td>
                        <td class="song-text">{{ item.total }}</td>
                        <td class="song-text">
                            <div class="progress-bar {% if item.score >= 0.75 %}bg-success{% elif item.score >= 0.5 %}bg-warning{% else %}bg-danger{% endif %}" 
                                role="progressbar" 
                                style="width: {{ item.score * 100 }}%;" 
                                aria-valuenow="{{ item.score * 100 }}" 
                                aria-valuemin="0" 
                                aria-valuemax="1">
                               {{ (item.score) | round(2) }}
                           </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="2" class="song-text">Totals</th>
                        <th id="totalWhistle" class="song-text">0 (Page: 0)</th>
                        <th id="totalActive" class="song-text">0 (Page: 0)</th>
                        <th id="totalTotal" class="song-text">0 (Page: 0)</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
   
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/fetch-song.js') }}"></script>
</body>
</html>
